<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="ServiceName" value="ExecutionScheduler" />    <!--Servicename/Displayname to show in the task manager-->
    <add key="ServiceDescription" value="Execution Scheduler" />    <!--Servicedescription to show in the task manager-->
    
    <add key="SchedulerIntervalMinutes" value="2" />  <!-- Scheduler execution interval in minutes -->
    <add key="Username" value="LocalSystem" />  <!-- Set as "LocalSystem" if you want to use the "LocalSystem" account -->
    <add key="Password" value="" /> <!-- Leave blank if you are using "LocalSystem" account -->
    
    <add key="ExecutableLocation" value="C:\Program Files (x86)\FormatFactory\FormatFactory.exe" />   <!-- Location of the exe file to be executed by scheduler -->
    <add key="Parameters" value="" /> <!-- Leave blank if no parameter is needed -->
    
  </appSettings>
</configuration>