<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Daily Scheduler Windows Service: Prakash.Joseph@gds.ey.com-->
  <!-- Installation Instrutions: https://people.ey.com/:w:/g/personal/prakash_joseph_gds_ey_com/EdR4eFW5e_hNgmB2Y5gr6b0BGn-VbPMtmCRnqG16gCNlIA?e=4YeOiG -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ServiceName" value="ExecutionScheduler"/>
    <!--Servicename/Displayname to show in the task manager (This change requires reinstallaton of service)-->
    <add key="ServiceDescription" value="Execution Scheduler"/>
    <!--Servicedescription to show in the task manager (This change requires reinstallaton of service)-->
    <add key="SchedulerTimeHour" value="17"/>
    <!-- Daily Scheduler execution Hour(00-to-24, 24 hour format) -->
    <add key="SchedulerTimeMinute" value="00"/>
    <!-- Daily Scheduler execution Minute(00-59) -->
    <add key="UserAccount" value=""/>
    <!-- Set as "LocalSystem" if you want to use the "LocalSystem" account or Leave blank -->
    <add key="Password" value=""/>
    <!-- Not Used -->
    <add key="ExecutableLocation" value="C:\500LinesPrint\Write500Lines.exe"/>
    <!-- Location of the exe file to be executed by scheduler -->
    <add key="Parameters" value=""/>
    <!-- Leave blank if no parameter is needed -->
    <!--<add key="ClientSettingsProvider.ServiceUri" value=""/>-->
  </appSettings>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>-->
</configuration>
